@tailwind base;
@tailwind components;
@tailwind utilities;

#app{
    height: 100vh;
}

.avatar-offline:before,
.avatar-online:before{
    width: 8px;
    height: 8px;
    top: 1%;
    right: 1%;
    border-radius: 50%;
}
.avatar-offline:before{
    background-color: #fff;
}
.avatar-online:before{
    background-color: #05f575;
}
